.container {
  background-color: #f2f2f2;
  width: max-width;
}
.head {
  width: 100%;
  height: auto;
  padding: 30px 0px 30px 0px;
  background-color: #8f4426;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 0.5);
}
.menu {
  width: 30px;
  margin-left: 40px;
}
.logo {
  width: 170px;
}
.search {
  width: 30px;
  margin-right: 40px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
  object-fit: cover;
  width: 100%;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* index page */
.intro {
  display: flex;
  margin: 20px;
  padding: 30px;
  
}
.p-main1 {
  color: #000000;
  font-family: avenir;
  font-size: 10px;
  text-justify: left justify;
}

/* menu */
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255); /* Black fallback color */
  background-color: rgb(255, 255, 255, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
/* Position the content inside the overlay */
.overlay-content {
  font-family: Arial;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}
/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #de6b35;
}
/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* footer */
.f-container {
  float: left;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 10px;
}
.f-p {
  font-family: Avenir;
  color: #b2b2b2;
  text-align: center;
}
.f-h1 {
  font-family: Avenir;
  font-weight: 500;
  color: #333333;
  font-size: 25px;
  text-align: center;
  margin: 0px;
  padding-top: 10px;
}
.social-icons {
  padding-top: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.instagram:hover {
  background-color: #b21099;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.f-h2 {
  font-family: Avenir;
  font-weight: 500;
  color: #333333;
  font-size: 20px;
  text-align: left;
  margin: 0px;
  padding-top: 10px;
}
li {
  font-family: Avenir;
  text-align: left;
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: #b2b2b2;
}
a:hover {
  color: #de6b35;
}
.f-container2 {
  float: left;
  width: 50%;
}
input[type="text"],
select,
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  font-size: 1em;
  resize: vertical;
  border-radius: 50px;
}
button {
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  background-color: #888888;
  font-size: 0.8em;
}
button:hover {
  background-color: #de6b35;
}
.q-p {
  text-align: left;
  font-family: Avenir;
  color: #b2b2b2;
  margin: 0px 30px;
  padding-top: 10px;
}
.content-holder {
  padding: 0px;
  max-width: 200px;
  text-align: center;
  border-radius: 50px;
}
.cp {
  padding: 20px;
  font-size: 13px;
  font-family: Avenir;
  color: #b2b2b2;
  text-align: center;
}

/* search */
.s-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); /* Black with a little bit see-through */
}
/* The content */
.s-overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}
/* Close button */
.s-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}
.s-overlay .closebtn:hover {
  color: #ccc;
}
/* Style the search field */
.s-overlay input[type="text"] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: center;
  width: 80%;
  background: white;
}
.s-overlay input[type="text"]:hover {
  background: #f1f1f1;
}
/* Style the submit button */
.s-overlay button {
  float: center;
  width: 30%;
  padding: 15px 0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.s-overlay button:hover {
  background: #bbb;
}

/* about page */
.h1-about {
  padding-top: 40px;
  font-family: Avenir;
  font-size: 40px;
  text-align: center;
}
.p-about {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  font-family: Avenir;
  padding-bottom: 20px;
}
.h2-about {
  font-family: Avenir;
  text-align: center;
  padding-top: 40px;
  font-size: 34px;
}
.client {
  color: gray;
  padding-bottom: 50px;
  font-family: Avenir;
  margin-left: 50px;
  margin-right: 50px;
}
.img-about {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.about {
  padding-top: 40px;
  font-family: Avenir;
  font-size: 30px;
  text-align: center;
}
.Name {
  font-size: 18px;
  color: #de6b35;
  padding-top: 0px;
  font-family: Avenir;
  text-align: center;
}

/* shop */
.Shop {
  margin: 40px;
  display: grid;
  align-items: stretch;
}
.h-shop {
  padding-top: 40px;
  font-family: Avenir;
  font-size: 40px;
}

/* faq */
.h-faq {
  padding-top: 40px;
  font-family: Avenir;
  font-size: 40px;
  text-align: center;
}
.question {
  font-size: 20px;
  color: #de6b35;
  padding-top: 0px;
  text-align: left;
  margin-left: 60px;
  margin-right: 60px;
  font-family: Avenir;
}
.answer {
  color: #888888;
  font-size: 15px;
  padding-bottom: 50px;
  text-align: left;
  margin-left: 60px;
  margin-right: 60px;
  font-family: Avenir;
}

/* privacy */
.privacy {
  padding-top: 40px;
  font-family: Avenir;
  font-size: 40px;
  text-align: center;
}
.body {
  text-align: left;
  padding: 0px 200px 0px 200px;
  font-family: Avenir;
  color: #888888;
  padding-bottom: 40px;
}
.information {
  text-align: center;
  padding: 20px 200px 0px;
  font-family: Avenir;
  font-size: 30px;
}